---
import Footer from "../components/footer.svelte";
import Header from "../components/header.svelte";
import BaseLayout from "./base.layout.astro";

// const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <Header />

  <div class="wrap">Hello</div>

  <Footer />
</BaseLayout>
